In [1]:
# Initial imports
import pandas as pd
from datetime import datetime

# Import the data

In [2]:
# Load the water_quality_data.csv dataset for monitoring station 0611.

file_path_1 = "../Raw_Water_Quality_Data/Lake_Union-0540_1_1_1994_to_9_30_2022.csv"
WQ_df = pd.read_csv(file_path_1,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')
WQ_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/18/1994,L2782-2,Composite,0.02,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.320,NaN,0.05,0.027,NaN,0.005,NaN,NaN,NaN,NaN
1,01/18/1994,L2782-2,Composite,0.02,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.320,NaN,0.05,0.027,NaN,0.005,NaN,NaN,NaN,NaN
2,02/22/1994,L2963-2,Composite,0.03,<RDL,0.02,NaN,NaN,NaN,NaN,...,0.310,NaN,0.05,0.021,NaN,0.005,NaN,NaN,NaN,NaN
3,02/22/1994,L2963-2,Composite,0.03,<RDL,0.02,NaN,NaN,NaN,NaN,...,0.310,NaN,0.05,0.021,NaN,0.005,NaN,NaN,NaN,NaN
4,03/14/1994,L3197-2,Composite,0.02,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.350,NaN,0.05,0.019,NaN,0.005,NaN,NaN,NaN,NaN
5,03/14/1994,L3197-2,Composite,0.02,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.350,NaN,0.05,0.019,NaN,0.005,NaN,NaN,NaN,NaN
6,04/11/1994,L3418-2,Composite,0.02,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.344,NaN,0.05,0.021,NaN,0.005,NaN,NaN,NaN,NaN
7,04/11/1994,L3418-2,Composite,0.02,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.344,NaN,0.05,0.021,NaN,0.005,NaN,NaN,NaN,NaN
8,05/16/1994,L3629-2,Composite,0.02,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.227,NaN,0.05,0.020,NaN,0.005,NaN,NaN,NaN,NaN
9,05/16/1994,L3629-2,Composite,0.02,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.227,NaN,0.05,0.020,NaN,0.005,NaN,NaN,NaN,NaN

In [3]:
WQ_df .shape

(2665, 36)

In [4]:
WQ_df .count()

CollectDate                        2665
SampleNum                          2665
Depth (m)                          2644
Ammmonia Nitrogen (mg/L)           1007
Ammmonia Nitrogen Qualifier*        715
AN MDL (mg/L)                      1016
Conductivity (µmhos/cm)            1722
Cond Qualifier*                      61
Cond MDL (µmhos/cm)                1285
Dissolved Oxygen (mg/L)            1722
DO Qualifier*                        74
DO MDL (mg/L)                      1285
Ecoli                               255
Ecoli Qualifier*                     14
Fecal Coliform (CFU/100ml)          634
Fecal Coliform Qualifier*            79
Nitrate Nitrite (mg/L)              976
Nitrate Nitrite Qualifier*          446
Nitrate Nitrite MDL (mg/L)         1016
Orthophosphate Phosphate (mg/L)     976
OP Qualifier*                       753
OP MDL (mg/L)                      1016
pH                                 1790
pH Qualifier*                        65
Temperature (°C)                   1812
Temperature Qualifier*               58
Total Nitrogen (mg/L)              1018
TN Qualifier*                        45
TN MDL (mg/L)                      1018
Total Phosphorus (mg/L)            1108
TP Qualifier*                       381
TP MDL (mg/L)                      1111
Total Alkalinity (mg/L)             130
Total Alkalinity Qualifier*           0
Total Alkalinity MDL (mg/L)         130
Unnamed: 35                           0
dtype: int64

In [5]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_df  = WQ_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*","Unnamed: 35" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_df = WQ_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])

print(WQ_df.shape)
WQ_df.tail()

(2665, 14)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L)
2660,09/26/2022,L80348-19,NaN,103.8,8.87,NaN,NaN,NaN,NaN,7.5,19.5,NaN,NaN,NaN
2661,09/26/2022,L80348-20,NaN,103.8,8.86,NaN,NaN,NaN,NaN,7.5,19.5,NaN,NaN,NaN
2662,09/26/2022,L80348-21,NaN,103.7,8.44,NaN,NaN,NaN,NaN,7.5,19.3,NaN,NaN,NaN
2663,09/26/2022,L80181-8,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.196,0.0087,NaN
2664,09/26/2022,L80348-22,NaN,103.7,8.32,NaN,NaN,NaN,NaN,7.5,19.3,NaN,NaN,NaN

In [6]:
WQ_df.count()

CollectDate                        2665
SampleNum                          2665
Ammmonia Nitrogen (mg/L)           1007
Conductivity (µmhos/cm)            1722
Dissolved Oxygen (mg/L)            1722
Ecoli                               255
Fecal Coliform (CFU/100ml)          634
Nitrate Nitrite (mg/L)              976
Orthophosphate Phosphate (mg/L)     976
pH                                 1790
Temperature (°C)                   1812
Total Nitrogen (mg/L)              1018
Total Phosphorus (mg/L)            1108
Total Alkalinity (mg/L)             130
dtype: int64

In [7]:
WQ_df.isnull().sum()

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)           1658
Conductivity (µmhos/cm)             943
Dissolved Oxygen (mg/L)             943
Ecoli                              2410
Fecal Coliform (CFU/100ml)         2031
Nitrate Nitrite (mg/L)             1689
Orthophosphate Phosphate (mg/L)    1689
pH                                  875
Temperature (°C)                    853
Total Nitrogen (mg/L)              1647
Total Phosphorus (mg/L)            1557
Total Alkalinity (mg/L)            2535
dtype: int64

In [8]:

WQ_df_1 = WQ_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)"])
print(WQ_df_1.shape)
WQ_df_1.head()

(2665, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,01/18/1994,L2782-2,0.02,NaN,NaN,26.0,0.19,0.011,6.8,8.0,0.32,0.027
1,01/18/1994,L2782-2,0.02,NaN,NaN,26.0,0.19,0.011,6.8,8.0,0.32,0.027
2,02/22/1994,L2963-2,0.03,NaN,NaN,23.0,0.26,0.014,7.0,7.0,0.31,0.021
3,02/22/1994,L2963-2,0.03,NaN,NaN,23.0,0.26,0.014,7.0,7.0,0.31,0.021
4,03/14/1994,L3197-2,0.02,NaN,NaN,12.0,0.16,0.003,7.5,9.8,0.35,0.019

In [9]:
WQ_df_1.dtypes

CollectDate                         object
SampleNum                           object
Ammmonia Nitrogen (mg/L)           float64
Conductivity (µmhos/cm)            float64
Dissolved Oxygen (mg/L)            float64
Fecal Coliform (CFU/100ml)         float64
Nitrate Nitrite (mg/L)             float64
Orthophosphate Phosphate (mg/L)    float64
pH                                 float64
Temperature (°C)                   float64
Total Nitrogen (mg/L)              float64
Total Phosphorus (mg/L)            float64
dtype: object

In [10]:
# convert string to datetime
WQ_df_1["CollectDate"] = pd.to_datetime(WQ_df_1["CollectDate"])

# convert string to float/numeric
WQ_df_1["pH"] = pd.to_numeric(WQ_df_1["pH"],errors='coerce')

WQ_df_1.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [11]:
# Dropping the duplicate Sample in the column "SampleNum"
df_1 = WQ_df_1.drop_duplicates(subset=['SampleNum'])
print(df_1.shape)
df_1.head(50)

(2537, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-18,L2782-2,0.020,NaN,NaN,26.0,0.190,0.0110,6.8,8.0,0.320,0.0270
2,1994-02-22,L2963-2,0.030,NaN,NaN,23.0,0.260,0.0140,7.0,7.0,0.310,0.0210
4,1994-03-14,L3197-2,0.020,NaN,NaN,12.0,0.160,0.0030,7.5,9.8,0.350,0.0190
6,1994-04-11,L3418-2,0.020,NaN,NaN,2.0,0.151,0.0020,7.7,9.8,0.344,0.0210
8,1994-05-16,L3629-2,0.020,NaN,NaN,9.0,0.050,0.0020,8.4,14.0,0.227,0.0200
10,1994-06-20,L3895-2,0.020,NaN,NaN,14.0,0.050,0.0020,8.1,17.7,0.234,0.0120
12,1994-07-11,L4044-2,0.020,NaN,NaN,10.0,0.050,0.0029,7.0,20.4,0.248,0.0103
14,1994-08-10,L4249-2,0.020,NaN,NaN,37.0,0.050,0.0028,7.5,21.4,0.237,0.0120
16,1994-09-21,L4488-2,0.020,NaN,NaN,14.0,0.050,0.0021,8.4,19.8,0.237,0.0210
18,1994-10-10,L4668-2,0.020,NaN,NaN,100.0,0.050,0.0040,7.2,17.2,0.197,0.0120
20,1994-11-07,L4869-2,0.020,NaN,NaN,130.0,0.050,0.0020,7.5,11.2,0.263,0.0050
22,1994-12-12,L5052-2,0.021,NaN,NaN,320.0,0.151,0.0137,7.3,8.1,0.271,0.0300
24,1995-01-09,L5174-2,0.020,NaN,NaN,39.0,0.217,0.0172,7.3,7.3,0.356,0.0300
26,1995-02-14,L5351-2,0.020,NaN,NaN,150.0,0.212,0.0159,7.0,5.5,0.421,0.0390
28,1995-03-13,L5618-2,0.036,NaN,NaN,14.0,0.209,0.0093,7.5,8.1,0.450,0.0170
30,1995-04-10,L5809-2,0.041,NaN,NaN,5.0,0.093,0.0025,7.8,9.3,0.367,0.0230
32,1995-05-08,L6046-2,0.020,NaN,NaN,40.0,0.050,0.0020,8.6,14.3,0.362,0.0230
34,1995-06-12,L6194-2,0.020,NaN,NaN,120.0,0.050,0.0020,8.3,19.3,0.328,0.0319
36,1995-07-17,L6493-2,0.020,NaN,NaN,4.0,0.050,0.0020,7.9,22.0,0.247,0.0186
38,1995-08-14,L6655-2,0.020,NaN,NaN,21.0,0.050,0.0020,7.5,19.1,0.239,0.0180
40,1995-09-18,L6821-2,0.020,NaN,NaN,35.0,0.050,0.0020,7.7,20.0,0.202,0.0194
42,1995-10-16,L7073-2,0.020,NaN,NaN,260.0,0.050,0.0026,8.2,15.6,0.336,0.0062
44,1995-11-13,L7316-2,0.020,NaN,NaN,20.0,0.084,0.0044,7.3,11.5,0.301,0.0098
46,1995-12-11,L7400-2,0.029,NaN,NaN,60.0,0.174,0.0120,7.2,9.8,0.380,0.0250
48,1996-01-08,L7585-2,0.029,NaN,NaN,66.0,0.213,0.0150,NaN,8.6,0.370,0.0260
50,1996-02-12,L7788-2,0.020,NaN,NaN,44.0,0.296,0.0170,7.3,7.3,0.440,0.0210
52,1996-03-11,L7987-2,0.085,NaN,NaN,18.0,0.234,0.0020,NaN,10.0,0.516,0.0190
54,1996-04-15,L8171-2,0.053,NaN,NaN,10.0,0.134,0.0020,7.9,12.0,0.449,0.0270
56,1996-04-25,L8368-2,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN
57,1996-05-02,L8425-2,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
58,1996-05-09,L8552-2,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
59,1996-05-15,L8466-2,0.059,NaN,NaN,20.0,0.098,0.0020,8.1,13.7,0.322,0.0090
61,1996-05-16,L8590-2,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN
62,1996-05-23,L8685-2,NaN,NaN,NaN,46.0,NaN,NaN,NaN,NaN,NaN,NaN
63,1996-05-30,L8709-2,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
64,1996-06-06,L8782-2,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
65,1996-06-10,L8747-2,0.022,NaN,NaN,29.0,0.095,0.0040,7.5,18.0,0.327,0.0150
67,1996-06-13,L8820-2,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN
68,1996-06-20,L8892-2,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
69,1996-06-27,L8957-2,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
70,1996-07-03,L8959-2,NaN,NaN,NaN,160.0,NaN,NaN,NaN,NaN,NaN,NaN
71,1996-07-11,L8960-2,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
72,1996-07-15,L9019-2,0.020,NaN,NaN,6.0,0.050,0.0020,7.5,23.0,0.285,0.0210
74,1996-07-18,L8961-2,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN
75,1996-07-25,L8962-2,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN
76,1996-08-01,L9194-2,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN
77,1996-08-08,L9237-2,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
78,1996-08-12,L9230-2,0.020,NaN,NaN,9.0,0.050,0.0020,7.1,21.6,0.263,0.0150
80,1996-08-15,L9302-2,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
81,1996-08-22,L9345-2,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Finding out the null values in the remaining columns
print(df_1.shape)
df_1.isnull().sum()

(2537, 12)

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)           1642
Conductivity (µmhos/cm)             889
Dissolved Oxygen (mg/L)             889
Fecal Coliform (CFU/100ml)         2023
Nitrate Nitrite (mg/L)             1674
Orthophosphate Phosphate (mg/L)    1674
pH                                  855
Temperature (°C)                    835
Total Nitrogen (mg/L)              1632
Total Phosphorus (mg/L)            1542
dtype: int64

In [13]:
# Since we have lots of null values we are replacing the null values in each month with the mean of the remaining values in that month.
# Replacing the NaN values:

df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_3.head(5)

C:\Users\gothw\AppData\Local\Temp\ipykernel_23292\1647429865.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
C:\Users\gothw\AppData\Local\Temp\ipykernel_23292\1647429865.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-18,L2782-2,0.02,NaN,NaN,26.0,0.190,0.011,6.8,8.0,0.320,0.027
2,1994-02-22,L2963-2,0.03,NaN,NaN,23.0,0.260,0.014,7.0,7.0,0.310,0.021
4,1994-03-14,L3197-2,0.02,NaN,NaN,12.0,0.160,0.003,7.5,9.8,0.350,0.019
6,1994-04-11,L3418-2,0.02,NaN,NaN,2.0,0.151,0.002,7.7,9.8,0.344,0.021
8,1994-05-16,L3629-2,0.02,NaN,NaN,9.0,0.050,0.002,8.4,14.0,0.227,0.020

In [14]:
# Removing the SampleNum Column

df_3= df_3.drop(columns=["SampleNum"])

In [15]:
df_3.isnull().sum()

CollectDate                          0
Ammmonia Nitrogen (mg/L)           406
Conductivity (µmhos/cm)            124
Dissolved Oxygen (mg/L)            124
Fecal Coliform (CFU/100ml)         466
Nitrate Nitrite (mg/L)             486
Orthophosphate Phosphate (mg/L)    475
pH                                  90
Temperature (°C)                    71
Total Nitrogen (mg/L)              396
Total Phosphorus (mg/L)             82
dtype: int64

In [16]:
# Real Water Quality Index Calculation

# Standard values for each parameter/feature, colB
amm_Sn = 0.1
cond_Sn = 300
dis_ox_Sn = 5.5
fec_coli_Sn = 135
nit_nit_Sn = 0.1
orth_phos_Sn = 0.5
pH_Sn = 8.5
temp_Sn = 7
tot_nit_Sn = 1.2
tot_phos_Sn = 0.1

# Inverse of Standard values for each parameter/feature, colC
inv_amm = 1/amm_Sn
inv_cond = 1/cond_Sn
inv_dis_ox = 1/dis_ox_Sn
inv_fec_coli_Sn = 1/fec_coli_Sn
inv_nit_nit = 1/nit_nit_Sn
inv_orth_phos = 1/orth_phos_Sn
inv_pH = 1/pH_Sn
inv_temp = 1/temp_Sn
inv_tot_nit = 1/tot_nit_Sn
inv_tot_phos = 1/tot_phos_Sn

# Sum of all inverses of standard values, colD
sum_all_inv = inv_amm + inv_cond + inv_dis_ox + inv_fec_coli_Sn + inv_nit_nit + inv_orth_phos + inv_pH + inv_temp + inv_tot_nit + inv_tot_phos

# K is the inverse of the sum of all inverses, colE
K = 1/sum_all_inv

# Wn is K divided by the standard value for each parameter/feature, colF
amm_Wn = K / amm_Sn
cond_Wn = K / cond_Sn
dis_ox_Wn = K / dis_ox_Sn
fec_coli_Wn = K / fec_coli_Sn
nit_nit_Wn = K / nit_nit_Sn
orth_phos_Wn = K / orth_phos_Sn
pH_Wn = K / pH_Sn
temp_Wn = K / temp_Sn
tot_nit_Wn = K / tot_nit_Sn
tot_phos_Wn = K / tot_phos_Sn

# Water Quality Index
#test = ((((df_3.loc[0]['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3.loc[0]['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3.loc[0]['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3.loc[0]['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3.loc[0]['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3.loc[0]['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3.loc[0]['pH']/pH_Sn)*100)*pH_Wn) + (((df_3.loc[0]['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3.loc[0]['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3.loc[0]['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
#test

df_3['WQI'] = ((((df_3['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3['pH']/pH_Sn)*100)*pH_Wn) + (((df_3['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
df_3.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1994-01-18,0.02,NaN,NaN,26.0,0.190,0.011,6.8,8.0,0.320,0.027,NaN
2,1994-02-22,0.03,NaN,NaN,23.0,0.260,0.014,7.0,7.0,0.310,0.021,NaN
4,1994-03-14,0.02,NaN,NaN,12.0,0.160,0.003,7.5,9.8,0.350,0.019,NaN
6,1994-04-11,0.02,NaN,NaN,2.0,0.151,0.002,7.7,9.8,0.344,0.021,NaN
8,1994-05-16,0.02,NaN,NaN,9.0,0.050,0.002,8.4,14.0,0.227,0.020,NaN

In [17]:
df_3 = df_3.dropna()
print(df_3.shape)
df_3.count()

(1832, 12)

CollectDate                        1832
Ammmonia Nitrogen (mg/L)           1832
Conductivity (µmhos/cm)            1832
Dissolved Oxygen (mg/L)            1832
Fecal Coliform (CFU/100ml)         1832
Nitrate Nitrite (mg/L)             1832
Orthophosphate Phosphate (mg/L)    1832
pH                                 1832
Temperature (°C)                   1832
Total Nitrogen (mg/L)              1832
Total Phosphorus (mg/L)            1832
WQI                                1832
dtype: int64

In [18]:
# Create the output file (CSV)


output_data_file = "../Resources_Ritu/0540_lake_Union.csv"

#"../Raw_Water_Quality_Data/Lake Sammamish-0611_1_1_1994_to_9_30_2022.csv"
# Export the clean water quality data 

df_3.to_csv(output_data_file, index="CollectDate")

In [19]:
print(df_3['CollectDate'].unique().size)

369