In [1]:
# Initial imports
import pandas as pd
from datetime import datetime

# Import the data

In [2]:
# Load the water_quality_data.csv dataset for monitoring station 0611.

file_path_1 = "../Raw_Water_Quality_Data/Lake_Union-0512_1_1_1994_to_9_30_2022.csv"
WQ_df = pd.read_csv(file_path_1,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')
WQ_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,01/18/1994,L2782-1,Composite,0.020,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.340,NaN,0.05,0.021,NaN,0.005,NaN,NaN,NaN,NaN
1,01/18/1994,L2782-1,Composite,0.020,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.340,NaN,0.05,0.021,NaN,0.005,NaN,NaN,NaN,NaN
2,02/22/1994,L2963-1,Composite,0.042,NaN,0.02,NaN,NaN,NaN,NaN,...,0.310,NaN,0.05,0.025,NaN,0.005,NaN,NaN,NaN,NaN
3,02/22/1994,L2963-1,Composite,0.042,NaN,0.02,NaN,NaN,NaN,NaN,...,0.310,NaN,0.05,0.025,NaN,0.005,NaN,NaN,NaN,NaN
4,03/14/1994,L3197-1,Composite,0.020,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.400,NaN,0.05,0.028,NaN,0.005,NaN,NaN,NaN,NaN
5,03/14/1994,L3197-1,Composite,0.020,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.400,NaN,0.05,0.028,NaN,0.005,NaN,NaN,NaN,NaN
6,04/11/1994,L3418-1,Composite,0.020,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.337,NaN,0.05,0.019,NaN,0.005,NaN,NaN,NaN,NaN
7,04/11/1994,L3418-1,Composite,0.020,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.337,NaN,0.05,0.019,NaN,0.005,NaN,NaN,NaN,NaN
8,05/16/1994,L3629-1,Composite,0.020,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.248,NaN,0.05,0.025,NaN,0.005,NaN,NaN,NaN,NaN
9,05/16/1994,L3629-1,Composite,0.020,<MDL,0.02,NaN,NaN,NaN,NaN,...,0.248,NaN,0.05,0.025,NaN,0.005,NaN,NaN,NaN,NaN

In [3]:
WQ_df .shape

(2305, 36)

In [4]:
WQ_df .count()

CollectDate                        2305
SampleNum                          2305
Depth (m)                          2284
Ammmonia Nitrogen (mg/L)           1013
Ammmonia Nitrogen Qualifier*        634
AN MDL (mg/L)                      1028
Conductivity (µmhos/cm)            1365
Cond Qualifier*                      45
Cond MDL (µmhos/cm)                1025
Dissolved Oxygen (mg/L)            1365
DO Qualifier*                        54
DO MDL (mg/L)                      1025
Ecoli                               256
Ecoli Qualifier*                      4
Fecal Coliform (CFU/100ml)          632
Fecal Coliform Qualifier*            42
Nitrate Nitrite (mg/L)              987
Nitrate Nitrite Qualifier*          453
Nitrate Nitrite MDL (mg/L)         1028
Orthophosphate Phosphate (mg/L)    1021
OP Qualifier*                       662
OP MDL (mg/L)                      1028
pH                                 1433
pH Qualifier*                        53
Temperature (°C)                   1452
Temperature Qualifier*               44
Total Nitrogen (mg/L)              1004
TN Qualifier*                        44
TN MDL (mg/L)                      1004
Total Phosphorus (mg/L)            1123
TP Qualifier*                       131
TP MDL (mg/L)                      1123
Total Alkalinity (mg/L)             123
Total Alkalinity Qualifier*           0
Total Alkalinity MDL (mg/L)         123
Unnamed: 35                           0
dtype: int64

In [5]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_df  = WQ_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*","Unnamed: 35" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_df = WQ_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])

print(WQ_df.shape)
WQ_df.tail()

(2305, 14)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L)
2300,09/26/2022,L80181-2,NaN,NaN,NaN,NaN,NaN,NaN,0.0027,NaN,NaN,0.190,0.0140,NaN
2301,09/26/2022,L80348-3,NaN,315.0,8.13,NaN,NaN,NaN,NaN,7.4,19.4,NaN,NaN,NaN
2302,09/26/2022,L80348-4,NaN,333.8,8.13,NaN,NaN,NaN,NaN,7.4,19.4,NaN,NaN,NaN
2303,09/26/2022,L80181-1,NaN,NaN,NaN,16.0,25.0,NaN,0.0024,NaN,NaN,0.191,0.0158,NaN
2304,09/26/2022,L80181-39,NaN,NaN,NaN,25.0,24.0,NaN,0.0025,NaN,NaN,0.184,0.0151,NaN

In [6]:
WQ_df.count()

CollectDate                        2305
SampleNum                          2305
Ammmonia Nitrogen (mg/L)           1013
Conductivity (µmhos/cm)            1365
Dissolved Oxygen (mg/L)            1365
Ecoli                               256
Fecal Coliform (CFU/100ml)          632
Nitrate Nitrite (mg/L)              987
Orthophosphate Phosphate (mg/L)    1021
pH                                 1433
Temperature (°C)                   1452
Total Nitrogen (mg/L)              1004
Total Phosphorus (mg/L)            1123
Total Alkalinity (mg/L)             123
dtype: int64

In [7]:
WQ_df.isnull().sum()

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)           1292
Conductivity (µmhos/cm)             940
Dissolved Oxygen (mg/L)             940
Ecoli                              2049
Fecal Coliform (CFU/100ml)         1673
Nitrate Nitrite (mg/L)             1318
Orthophosphate Phosphate (mg/L)    1284
pH                                  872
Temperature (°C)                    853
Total Nitrogen (mg/L)              1301
Total Phosphorus (mg/L)            1182
Total Alkalinity (mg/L)            2182
dtype: int64

In [8]:

WQ_df_1 = WQ_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)"])
print(WQ_df_1.shape)
WQ_df_1.head()

(2305, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,01/18/1994,L2782-1,0.020,NaN,NaN,170.0,0.19,0.009,6.8,8.0,0.34,0.021
1,01/18/1994,L2782-1,0.020,NaN,NaN,170.0,0.19,0.009,6.8,8.0,0.34,0.021
2,02/22/1994,L2963-1,0.042,NaN,NaN,32.0,0.25,0.011,7.1,6.3,0.31,0.025
3,02/22/1994,L2963-1,0.042,NaN,NaN,32.0,0.25,0.011,7.1,6.3,0.31,0.025
4,03/14/1994,L3197-1,0.020,NaN,NaN,32.0,0.17,0.005,7.3,9.0,0.40,0.028

In [9]:
WQ_df_1.dtypes

CollectDate                         object
SampleNum                           object
Ammmonia Nitrogen (mg/L)           float64
Conductivity (µmhos/cm)            float64
Dissolved Oxygen (mg/L)            float64
Fecal Coliform (CFU/100ml)         float64
Nitrate Nitrite (mg/L)             float64
Orthophosphate Phosphate (mg/L)    float64
pH                                 float64
Temperature (°C)                   float64
Total Nitrogen (mg/L)              float64
Total Phosphorus (mg/L)            float64
dtype: object

In [10]:
# convert string to datetime
WQ_df_1["CollectDate"] = pd.to_datetime(WQ_df_1["CollectDate"])

# convert string to float/numeric
WQ_df_1["pH"] = pd.to_numeric(WQ_df_1["pH"],errors='coerce')

WQ_df_1.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [11]:
# Dropping the duplicate Sample in the column "SampleNum"
df_1 = WQ_df_1.drop_duplicates(subset=['SampleNum'])
print(df_1.shape)
df_1.head(50)

(2180, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-18,L2782-1,0.020,NaN,NaN,170.0,0.190,0.0090,6.8,8.0,0.340,0.0210
2,1994-02-22,L2963-1,0.042,NaN,NaN,32.0,0.250,0.0110,7.1,6.3,0.310,0.0250
4,1994-03-14,L3197-1,0.020,NaN,NaN,32.0,0.170,0.0050,7.3,9.0,0.400,0.0280
6,1994-04-11,L3418-1,0.020,NaN,NaN,44.0,0.119,0.0020,7.7,10.5,0.337,0.0190
8,1994-05-16,L3629-1,0.020,NaN,NaN,22.0,0.050,0.0039,8.2,15.0,0.248,0.0250
10,1994-06-20,L3895-1,0.020,NaN,NaN,160.0,0.050,0.0020,7.5,17.2,0.264,0.0130
12,1994-07-11,L4044-1,0.020,NaN,NaN,44.0,0.050,0.0044,7.3,19.0,0.282,0.0108
14,1994-08-10,L4249-1,0.020,NaN,NaN,80.0,0.050,0.0028,7.2,21.0,0.275,0.0170
16,1994-09-21,L4488-1,0.029,NaN,NaN,61.0,0.050,0.0025,7.6,19.1,0.361,0.0350
18,1994-10-10,L4668-1,0.066,NaN,NaN,220.0,0.050,0.0167,7.5,17.0,0.361,0.0350
20,1994-11-07,L4869-1,0.020,NaN,NaN,68.0,0.050,0.0032,7.7,11.3,0.271,0.0110
22,1994-12-12,L5052-1,0.021,NaN,NaN,60.0,0.143,0.0099,7.4,7.2,0.338,0.0330
24,1995-01-09,L5174-1,0.020,NaN,NaN,81.0,0.210,0.0170,7.3,6.7,0.364,0.0390
26,1995-02-14,L5351-1,0.020,NaN,NaN,130.0,0.217,0.0123,7.6,5.6,0.453,0.0350
28,1995-03-13,L5618-1,0.020,NaN,NaN,100.0,0.185,0.0056,7.6,8.3,0.445,0.0150
30,1995-04-10,L5809-1,0.020,NaN,NaN,11.0,0.050,0.0025,8.8,10.2,0.379,0.0250
32,1995-05-08,L6046-1,0.020,NaN,NaN,14.0,0.050,0.0022,9.0,13.8,0.332,0.0230
34,1995-06-12,L6194-1,0.020,NaN,NaN,50.0,0.050,0.0027,7.9,18.2,0.265,0.0183
36,1995-07-17,L6493-1,0.020,NaN,NaN,35.0,0.050,0.0026,7.7,21.0,0.238,0.0220
38,1995-08-14,L6655-1,0.077,NaN,NaN,59.0,0.050,0.0036,7.2,19.3,0.541,0.0241
40,1995-09-18,L6821-1,0.041,NaN,NaN,50.0,0.050,0.0037,7.6,19.4,0.262,0.0226
42,1995-10-16,L7073-1,0.031,NaN,NaN,62.0,0.050,0.0098,7.7,15.7,0.315,0.0247
44,1995-11-13,L7316-1,0.020,NaN,NaN,190.0,0.075,0.0059,7.2,11.4,0.307,0.0112
46,1995-12-11,L7400-1,0.022,NaN,NaN,1800.0,0.173,0.0150,7.3,8.8,0.411,0.0240
48,1996-01-08,L7585-1,0.038,NaN,NaN,160.0,0.225,0.0150,NaN,8.6,0.433,0.0260
50,1996-02-08,L7849-8,NaN,NaN,NaN,5500.0,NaN,NaN,NaN,NaN,NaN,NaN
51,1996-02-12,L7788-1,0.020,NaN,NaN,100.0,0.288,0.0160,7.3,7.1,0.477,0.0270
52,1996-02-12,L7883-8,NaN,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN
54,1996-02-15,L7905-8,NaN,NaN,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN
55,1996-02-22,L7966-8,NaN,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN
56,1996-02-29,L7998-8,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN
57,1996-03-07,L8027-8,NaN,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN,NaN
58,1996-03-11,L7987-1,0.024,NaN,NaN,66.0,0.251,0.0040,NaN,8.2,0.460,0.0230
60,1996-03-14,L8090-8,NaN,NaN,NaN,39.0,NaN,NaN,NaN,NaN,NaN,NaN
61,1996-03-21,L8145-8,NaN,NaN,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN
62,1996-03-28,L8168-8,NaN,NaN,NaN,330.0,NaN,NaN,NaN,NaN,NaN,NaN
63,1996-04-04,L8221-8,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN
64,1996-04-11,L8255-8,NaN,NaN,NaN,41.0,NaN,NaN,NaN,NaN,NaN,NaN
65,1996-04-12,L8288-8,NaN,NaN,NaN,41.0,NaN,NaN,NaN,NaN,NaN,NaN
66,1996-04-15,L8171-1,0.032,NaN,NaN,23.0,0.092,0.0020,8.6,12.1,0.452,0.0170
68,1996-04-18,L8327-8,NaN,NaN,NaN,31.0,NaN,NaN,NaN,NaN,NaN,NaN
69,1996-04-25,L8368-10,NaN,NaN,NaN,380.0,NaN,NaN,NaN,NaN,NaN,NaN
70,1996-05-02,L8425-10,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
71,1996-05-09,L8552-10,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN
72,1996-05-15,L8466-1,0.053,NaN,NaN,160.0,0.130,0.0020,7.8,12.5,0.356,0.0090
74,1996-05-16,L8590-10,NaN,NaN,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN
75,1996-05-23,L8685-10,NaN,NaN,NaN,270.0,NaN,NaN,NaN,NaN,NaN,NaN
76,1996-05-30,L8709-10,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN
77,1996-06-06,L8782-10,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN
78,1996-06-10,L8747-1,0.064,NaN,NaN,6.0,0.106,0.0040,8.1,17.0,0.522,0.0430

In [12]:
# Finding out the null values in the remaining columns
print(df_1.shape)
df_1.isnull().sum()

(2180, 12)

CollectDate                           0
SampleNum                             0
Ammmonia Nitrogen (mg/L)           1279
Conductivity (µmhos/cm)             887
Dissolved Oxygen (mg/L)             887
Fecal Coliform (CFU/100ml)         1668
Nitrate Nitrite (mg/L)             1305
Orthophosphate Phosphate (mg/L)    1271
pH                                  853
Temperature (°C)                    836
Total Nitrogen (mg/L)              1288
Total Phosphorus (mg/L)            1169
dtype: int64

In [13]:
# Since we have lots of null values we are replacing the null values in each month with the mean of the remaining values in that month.
# Replacing the NaN values:

df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_3.head(5)

C:\Users\gothw\AppData\Local\Temp\ipykernel_27956\1647429865.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
C:\Users\gothw\AppData\Local\Temp\ipykernel_27956\1647429865.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-01-18,L2782-1,0.020,NaN,NaN,170.0,0.190,0.0090,6.8,8.0,0.340,0.021
2,1994-02-22,L2963-1,0.042,NaN,NaN,32.0,0.250,0.0110,7.1,6.3,0.310,0.025
4,1994-03-14,L3197-1,0.020,NaN,NaN,32.0,0.170,0.0050,7.3,9.0,0.400,0.028
6,1994-04-11,L3418-1,0.020,NaN,NaN,44.0,0.119,0.0020,7.7,10.5,0.337,0.019
8,1994-05-16,L3629-1,0.020,NaN,NaN,22.0,0.050,0.0039,8.2,15.0,0.248,0.025

In [14]:
# Removing the SampleNum Column

df_3= df_3.drop(columns=["SampleNum"])

In [15]:
df_3.isnull().sum()

CollectDate                          0
Ammmonia Nitrogen (mg/L)           361
Conductivity (µmhos/cm)            141
Dissolved Oxygen (mg/L)            141
Fecal Coliform (CFU/100ml)         332
Nitrate Nitrite (mg/L)             442
Orthophosphate Phosphate (mg/L)    349
pH                                 108
Temperature (°C)                    88
Total Nitrogen (mg/L)              360
Total Phosphorus (mg/L)             60
dtype: int64

In [16]:
# Real Water Quality Index Calculation

# Standard values for each parameter/feature, colB
amm_Sn = 0.1
cond_Sn = 300
dis_ox_Sn = 5.5
fec_coli_Sn = 135
nit_nit_Sn = 0.1
orth_phos_Sn = 0.5
pH_Sn = 8.5
temp_Sn = 7
tot_nit_Sn = 1.2
tot_phos_Sn = 0.1

# Inverse of Standard values for each parameter/feature, colC
inv_amm = 1/amm_Sn
inv_cond = 1/cond_Sn
inv_dis_ox = 1/dis_ox_Sn
inv_fec_coli_Sn = 1/fec_coli_Sn
inv_nit_nit = 1/nit_nit_Sn
inv_orth_phos = 1/orth_phos_Sn
inv_pH = 1/pH_Sn
inv_temp = 1/temp_Sn
inv_tot_nit = 1/tot_nit_Sn
inv_tot_phos = 1/tot_phos_Sn

# Sum of all inverses of standard values, colD
sum_all_inv = inv_amm + inv_cond + inv_dis_ox + inv_fec_coli_Sn + inv_nit_nit + inv_orth_phos + inv_pH + inv_temp + inv_tot_nit + inv_tot_phos

# K is the inverse of the sum of all inverses, colE
K = 1/sum_all_inv

# Wn is K divided by the standard value for each parameter/feature, colF
amm_Wn = K / amm_Sn
cond_Wn = K / cond_Sn
dis_ox_Wn = K / dis_ox_Sn
fec_coli_Wn = K / fec_coli_Sn
nit_nit_Wn = K / nit_nit_Sn
orth_phos_Wn = K / orth_phos_Sn
pH_Wn = K / pH_Sn
temp_Wn = K / temp_Sn
tot_nit_Wn = K / tot_nit_Sn
tot_phos_Wn = K / tot_phos_Sn

# Water Quality Index
#test = ((((df_3.loc[0]['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3.loc[0]['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3.loc[0]['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3.loc[0]['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3.loc[0]['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3.loc[0]['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3.loc[0]['pH']/pH_Sn)*100)*pH_Wn) + (((df_3.loc[0]['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3.loc[0]['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3.loc[0]['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
#test

df_3['WQI'] = ((((df_3['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3['pH']/pH_Sn)*100)*pH_Wn) + (((df_3['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
df_3.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1994-01-18,0.020,NaN,NaN,170.0,0.190,0.0090,6.8,8.0,0.340,0.021,NaN
2,1994-02-22,0.042,NaN,NaN,32.0,0.250,0.0110,7.1,6.3,0.310,0.025,NaN
4,1994-03-14,0.020,NaN,NaN,32.0,0.170,0.0050,7.3,9.0,0.400,0.028,NaN
6,1994-04-11,0.020,NaN,NaN,44.0,0.119,0.0020,7.7,10.5,0.337,0.019,NaN
8,1994-05-16,0.020,NaN,NaN,22.0,0.050,0.0039,8.2,15.0,0.248,0.025,NaN

In [17]:
df_3 = df_3.dropna()
print(df_3.shape)
df_3.count()

(1615, 12)

CollectDate                        1615
Ammmonia Nitrogen (mg/L)           1615
Conductivity (µmhos/cm)            1615
Dissolved Oxygen (mg/L)            1615
Fecal Coliform (CFU/100ml)         1615
Nitrate Nitrite (mg/L)             1615
Orthophosphate Phosphate (mg/L)    1615
pH                                 1615
Temperature (°C)                   1615
Total Nitrogen (mg/L)              1615
Total Phosphorus (mg/L)            1615
WQI                                1615
dtype: int64

In [18]:
df_3.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
108,1997-01-23,0.024,99.0,10.9,160.0,0.310,0.0136,7.4,6.6,0.493,0.0289,112.040025
109,1997-01-23,0.021,101.0,10.8,160.0,0.302,0.0129,7.3,6.6,0.477,0.0298,108.949937
111,1997-02-04,0.027,87.6,10.3,63.0,0.328,0.0134,7.2,6.5,0.452,0.0236,116.578320
112,1997-02-04,0.028,93.5,10.7,63.0,0.336,0.0136,7.2,6.5,0.465,0.0265,120.222802
114,1997-03-04,0.020,116.0,11.3,160.0,0.344,0.0181,7.5,6.8,0.464,0.0269,120.502157

In [19]:
# Create the output file (CSV)


output_data_file = "../Resources_Ritu/0512_lake_Union.csv"

#"../Raw_Water_Quality_Data/Lake Sammamish-0611_1_1_1994_to_9_30_2022.csv"
# Export the clean water quality data 

df_3.to_csv(output_data_file, index="CollectDate")

In [20]:
print(df_3['CollectDate'].unique().size)

384