In [1]:
# Initial imports
import pandas as pd
from datetime import datetime

# Import the data

In [2]:
# Load the water_quality_data.csv dataset for monitoring station 0611.

file_path_1 = "../Raw_Water_Quality_Data/Lake_Union-0536_1_1_1994_to_9_30_2022.csv"
WQ_df = pd.read_csv(file_path_1,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')
WQ_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,02/14/1994,L2936-1,1.0,0.02,<MDL,0.02,98.2,NaN,NaN,11.10,...,0.410,NaN,0.05,0.019,NaN,0.005,NaN,NaN,NaN,NaN
1,02/14/1994,L2936-2,3.0,0.02,<MDL,0.02,99.0,NaN,NaN,10.98,...,0.380,NaN,0.05,0.021,NaN,0.005,NaN,NaN,NaN,NaN
2,03/07/1994,L3134-1,1.0,0.02,<MDL,0.02,100.3,NaN,NaN,11.08,...,0.350,NaN,0.05,0.022,NaN,0.005,NaN,NaN,NaN,NaN
3,03/07/1994,L3134-2,3.0,NaN,NaN,NaN,101.1,NaN,NaN,11.09,...,0.370,NaN,0.05,0.026,NaN,0.005,NaN,NaN,NaN,NaN
4,03/21/1994,L3279-1,1.0,0.02,<MDL,0.02,100.7,NaN,NaN,11.59,...,0.350,NaN,0.05,0.021,NaN,0.005,NaN,NaN,NaN,NaN
5,03/21/1994,L3279-2,3.0,0.02,<MDL,0.02,101.3,NaN,NaN,11.50,...,0.370,NaN,0.05,0.024,NaN,0.005,NaN,NaN,NaN,NaN
6,04/04/1994,L3376-1,1.0,0.02,<MDL,0.02,100.1,NaN,NaN,12.56,...,0.300,NaN,0.05,0.052,NaN,0.005,NaN,NaN,NaN,NaN
7,04/04/1994,L3376-2,3.0,0.02,<MDL,0.02,100.6,NaN,NaN,12.37,...,0.296,NaN,0.05,0.050,NaN,0.005,NaN,NaN,NaN,NaN
8,04/18/1994,L3501-1,1.0,0.02,<MDL,0.02,100.6,NaN,NaN,12.89,...,0.347,NaN,0.05,0.020,NaN,0.005,NaN,NaN,NaN,NaN
9,04/18/1994,L3501-2,3.0,0.02,<MDL,0.02,100.9,NaN,NaN,12.79,...,0.391,NaN,0.05,0.020,NaN,0.005,NaN,NaN,NaN,NaN

In [3]:
WQ_df .shape

(894, 36)

In [4]:
WQ_df .count()

CollectDate                        894
SampleNum                          894
Depth (m)                          873
Ammmonia Nitrogen (mg/L)           399
Ammmonia Nitrogen Qualifier*       358
AN MDL (mg/L)                      403
Conductivity (µmhos/cm)            594
Cond Qualifier*                      3
Cond MDL (µmhos/cm)                235
Dissolved Oxygen (mg/L)            594
DO Qualifier*                        6
DO MDL (mg/L)                      235
Ecoli                              141
Ecoli Qualifier*                     1
Fecal Coliform (CFU/100ml)         271
Fecal Coliform Qualifier*            6
Nitrate Nitrite (mg/L)             403
Nitrate Nitrite Qualifier*         187
Nitrate Nitrite MDL (mg/L)         403
Orthophosphate Phosphate (mg/L)    403
OP Qualifier*                      297
OP MDL (mg/L)                      403
pH                                 594
pH Qualifier*                        6
Temperature (°C)                   610
Temperature Qualifier*               1
Total Nitrogen (mg/L)              403
TN Qualifier*                        1
TN MDL (mg/L)                      404
Total Phosphorus (mg/L)            509
TP Qualifier*                       90
TP MDL (mg/L)                      510
Total Alkalinity (mg/L)            125
Total Alkalinity Qualifier*          0
Total Alkalinity MDL (mg/L)        125
Unnamed: 35                          0
dtype: int64

In [5]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_df  = WQ_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*","Unnamed: 35" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_df = WQ_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])

print(WQ_df.shape)
WQ_df.tail()

(894, 14)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L)
889,12/08/2008,L46911-4,0.01,NaN,NaN,27.0,24.0,0.091,0.002,NaN,NaN,0.249,0.0091,NaN
890,12/08/2008,L47137-19,NaN,95.0,9.8,NaN,NaN,NaN,NaN,7.4,10.1,NaN,NaN,NaN
891,12/08/2008,L47137-20,NaN,94.8,9.8,NaN,NaN,NaN,NaN,7.4,10.1,NaN,NaN,NaN
892,12/08/2008,L46911-5,0.01,NaN,NaN,NaN,NaN,0.091,0.002,NaN,NaN,0.252,0.0089,NaN
893,12/08/2008,L47137-21,NaN,95.3,9.8,NaN,NaN,NaN,NaN,7.4,10.1,NaN,NaN,NaN

In [6]:
WQ_df.count()

CollectDate                        894
SampleNum                          894
Ammmonia Nitrogen (mg/L)           399
Conductivity (µmhos/cm)            594
Dissolved Oxygen (mg/L)            594
Ecoli                              141
Fecal Coliform (CFU/100ml)         271
Nitrate Nitrite (mg/L)             403
Orthophosphate Phosphate (mg/L)    403
pH                                 594
Temperature (°C)                   610
Total Nitrogen (mg/L)              403
Total Phosphorus (mg/L)            509
Total Alkalinity (mg/L)            125
dtype: int64

In [7]:
WQ_df.isnull().sum()

CollectDate                          0
SampleNum                            0
Ammmonia Nitrogen (mg/L)           495
Conductivity (µmhos/cm)            300
Dissolved Oxygen (mg/L)            300
Ecoli                              753
Fecal Coliform (CFU/100ml)         623
Nitrate Nitrite (mg/L)             491
Orthophosphate Phosphate (mg/L)    491
pH                                 300
Temperature (°C)                   284
Total Nitrogen (mg/L)              491
Total Phosphorus (mg/L)            385
Total Alkalinity (mg/L)            769
dtype: int64

In [8]:

WQ_df_1 = WQ_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)"])
print(WQ_df_1.shape)
WQ_df_1.head()

(894, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,02/14/1994,L2936-1,0.02,98.2,11.10,49.0,0.22,0.0130,7.1,6.9,0.41,0.019
1,02/14/1994,L2936-2,0.02,99.0,10.98,NaN,0.18,0.0130,7.2,6.9,0.38,0.021
2,03/07/1994,L3134-1,0.02,100.3,11.08,36.0,0.22,0.0100,7.5,7.6,0.35,0.022
3,03/07/1994,L3134-2,NaN,101.1,11.09,NaN,NaN,NaN,7.5,7.6,0.37,0.026
4,03/21/1994,L3279-1,0.02,100.7,11.59,35.0,0.16,0.0076,7.6,7.5,0.35,0.021

In [9]:
WQ_df_1.dtypes

CollectDate                         object
SampleNum                           object
Ammmonia Nitrogen (mg/L)           float64
Conductivity (µmhos/cm)            float64
Dissolved Oxygen (mg/L)            float64
Fecal Coliform (CFU/100ml)         float64
Nitrate Nitrite (mg/L)             float64
Orthophosphate Phosphate (mg/L)    float64
pH                                 float64
Temperature (°C)                   float64
Total Nitrogen (mg/L)              float64
Total Phosphorus (mg/L)            float64
dtype: object

In [10]:
# convert string to datetime
WQ_df_1["CollectDate"] = pd.to_datetime(WQ_df_1["CollectDate"])

# convert string to float/numeric
WQ_df_1["pH"] = pd.to_numeric(WQ_df_1["pH"],errors='coerce')

WQ_df_1.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [11]:
# Dropping the duplicate Sample in the column "SampleNum"
df_1 = WQ_df_1.drop_duplicates(subset=['SampleNum'])
print(df_1.shape)
df_1.head(50)

(893, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-02-14,L2936-1,0.020,98.2,11.10,49.0,0.220,0.0130,7.1,6.9,0.410,0.0190
1,1994-02-14,L2936-2,0.020,99.0,10.98,NaN,0.180,0.0130,7.2,6.9,0.380,0.0210
2,1994-03-07,L3134-1,0.020,100.3,11.08,36.0,0.220,0.0100,7.5,7.6,0.350,0.0220
3,1994-03-07,L3134-2,NaN,101.1,11.09,NaN,NaN,NaN,7.5,7.6,0.370,0.0260
4,1994-03-21,L3279-1,0.020,100.7,11.59,35.0,0.160,0.0076,7.6,7.5,0.350,0.0210
5,1994-03-21,L3279-2,0.020,101.3,11.50,NaN,0.160,0.0079,7.6,7.6,0.370,0.0240
6,1994-04-04,L3376-1,0.020,100.1,12.56,NaN,0.093,0.0044,8.5,10.1,0.300,0.0520
7,1994-04-04,L3376-2,0.020,100.6,12.37,NaN,0.093,0.0039,8.4,9.7,0.296,0.0500
8,1994-04-18,L3501-1,0.020,100.6,12.89,1.0,0.090,0.0022,8.7,12.0,0.347,0.0200
9,1994-04-18,L3501-2,0.020,100.9,12.79,NaN,0.093,0.0022,8.7,11.3,0.391,0.0200
10,1994-05-02,L3608-1,0.020,107.9,11.55,12.0,0.050,0.0020,8.8,14.0,0.223,0.0200
11,1994-05-02,L3608-2,0.020,108.2,11.46,NaN,0.050,0.0020,8.8,13.8,0.222,0.0210
12,1994-05-23,L3769-1,0.020,109.3,10.82,43.0,0.050,0.0020,8.5,17.2,0.581,0.0170
13,1994-05-23,L3769-2,0.020,110.5,10.68,NaN,0.050,0.0020,8.4,16.8,0.482,0.0160
14,1994-06-06,L3853-1,0.020,104.7,10.77,2.0,0.050,0.0020,8.2,17.2,0.212,0.0250
15,1994-06-06,L3853-2,0.020,105.3,10.29,NaN,0.050,0.0020,8.3,17.2,0.212,0.0160
16,1994-07-05,L4014-1,0.020,110.1,9.05,30.0,0.050,0.0020,7.3,19.1,0.243,0.0220
17,1994-07-05,L4014-2,0.020,110.4,8.86,NaN,0.050,0.0020,7.3,19.1,0.226,0.0220
18,1994-08-03,L4192-1,0.020,107.5,8.37,19.0,0.050,0.0022,7.5,22.8,0.195,0.0220
19,1994-08-03,L4192-2,0.020,107.7,8.33,NaN,0.050,0.0064,7.5,22.8,0.221,0.0170
20,1994-09-06,L4442-1,0.020,113.9,8.64,24.0,0.050,0.0024,7.7,21.4,0.210,0.0180
21,1994-09-06,L4442-2,0.020,115.7,8.51,NaN,0.050,0.0025,7.7,21.3,0.202,0.0200
22,1994-09-06,L4442-14,NaN,113.6,8.45,NaN,NaN,NaN,7.6,21.3,NaN,NaN
23,1994-10-03,L4646-1,0.020,107.5,8.63,25.0,0.050,0.0034,7.5,18.9,0.218,0.0110
24,1994-10-03,L4646-2,0.020,107.7,8.56,NaN,0.050,0.0034,7.5,18.8,0.246,0.0140
25,1994-11-02,L4824-1,0.020,103.8,9.31,140.0,0.050,0.0020,7.3,12.8,0.232,0.0120
26,1994-11-02,L4824-2,0.020,105.3,9.17,NaN,0.050,0.0020,7.3,12.8,0.246,0.0120
27,1994-12-05,L4993-1,0.020,104.0,9.96,68.0,0.144,0.0098,7.3,8.0,0.318,0.0220
28,1994-12-05,L4993-2,0.020,104.4,9.82,NaN,0.140,0.0091,7.3,8.0,0.282,0.0200
29,1995-01-19,L5242-1,0.020,88.8,10.79,58.0,0.224,0.0170,7.5,7.1,0.377,0.0310
30,1995-01-19,L5242-2,0.020,89.2,10.58,NaN,0.227,0.0145,7.5,7.0,0.378,0.0210
31,1995-02-06,L5380-1,0.022,106.5,11.07,78.0,0.232,0.0154,7.4,7.8,0.438,0.0320
32,1995-02-06,L5380-2,0.020,107.3,11.08,NaN,0.229,0.0165,7.4,7.8,0.430,0.0400
33,1995-03-06,L5575-1,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN
35,1995-03-06,L5575-2,0.020,98.0,11.61,NaN,0.202,0.0081,7.6,7.1,0.413,0.0310
36,1995-03-20,L5711-1,0.020,96.4,11.80,37.0,0.162,0.0081,7.6,8.4,0.447,0.0220
37,1995-03-20,L5711-2,0.020,96.8,11.70,NaN,0.186,0.0081,7.6,8.4,0.430,0.0210
38,1995-04-03,L5780-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1530.0,NaN,NaN
39,1995-04-03,L5780-1,0.020,98.4,13.88,17.0,0.050,0.0020,8.6,11.7,0.428,0.0340
40,1995-04-03,L5780-2,0.020,98.8,13.28,NaN,0.050,0.0020,8.5,11.0,0.452,0.0290
41,1995-04-17,L5915-1,0.020,97.7,12.18,46.0,0.060,0.0020,8.2,10.6,0.360,0.0260
42,1995-04-17,L5915-2,0.020,98.2,12.07,NaN,0.075,0.0020,8.2,10.6,0.427,0.0190
43,1995-05-01,L5987-1,0.020,102.2,13.37,NaN,0.050,0.0020,9.0,13.8,0.311,0.0230
44,1995-05-01,L5987-2,0.020,101.5,13.23,NaN,0.050,0.0020,8.9,13.2,0.292,0.0258
45,1995-05-15,L6095-1,0.020,102.3,10.51,50.0,0.050,0.0020,8.4,16.3,0.232,0.0180
46,1995-05-15,L6095-2,0.020,102.6,10.54,NaN,0.050,0.0020,8.4,15.8,0.212,0.0183
47,1995-06-06,L6257-1,0.020,101.1,9.69,48.0,0.050,0.0022,8.2,19.2,0.283,0.0230
48,1995-06-06,L6257-2,0.020,101.3,9.61,NaN,0.050,0.0020,8.2,19.2,0.451,0.0230
49,1995-07-11,L6452-1,NaN,109.0,9.26,38.0,0.050,0.0020,7.5,21.4,0.225,0.0137
50,1995-07-11,L6452-2,NaN,109.6,9.15,NaN,0.050,0.0020,7.5,21.1,0.281,0.0085

In [12]:
# Finding out the null values in the remaining columns
print(df_1.shape)
df_1.isnull().sum()

(893, 12)

CollectDate                          0
SampleNum                            0
Ammmonia Nitrogen (mg/L)           495
Conductivity (µmhos/cm)            300
Dissolved Oxygen (mg/L)            300
Fecal Coliform (CFU/100ml)         622
Nitrate Nitrite (mg/L)             491
Orthophosphate Phosphate (mg/L)    491
pH                                 300
Temperature (°C)                   284
Total Nitrogen (mg/L)              491
Total Phosphorus (mg/L)            385
dtype: int64

In [13]:
# Since we have lots of null values we are replacing the null values in each month with the mean of the remaining values in that month.
# Replacing the NaN values:

df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_3.head(5)

C:\Users\gothw\AppData\Local\Temp\ipykernel_29792\1647429865.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
C:\Users\gothw\AppData\Local\Temp\ipykernel_29792\1647429865.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-02-14,L2936-1,0.02,98.2,11.10,49.0,0.22,0.0130,7.1,6.9,0.41,0.019
1,1994-02-14,L2936-2,0.02,99.0,10.98,49.0,0.18,0.0130,7.2,6.9,0.38,0.021
2,1994-03-07,L3134-1,0.02,100.3,11.08,36.0,0.22,0.0100,7.5,7.6,0.35,0.022
3,1994-03-07,L3134-2,0.02,101.1,11.09,36.0,0.22,0.0100,7.5,7.6,0.37,0.026
4,1994-03-21,L3279-1,0.02,100.7,11.59,35.0,0.16,0.0076,7.6,7.5,0.35,0.021

In [14]:
# Removing the SampleNum Column

df_3= df_3.drop(columns=["SampleNum"])

In [15]:
df_3.isnull().sum()

CollectDate                          0
Ammmonia Nitrogen (mg/L)           350
Conductivity (µmhos/cm)             71
Dissolved Oxygen (mg/L)             71
Fecal Coliform (CFU/100ml)         297
Nitrate Nitrite (mg/L)             346
Orthophosphate Phosphate (mg/L)    346
pH                                  71
Temperature (°C)                    59
Total Nitrogen (mg/L)              346
Total Phosphorus (mg/L)             55
dtype: int64

In [16]:
# Real Water Quality Index Calculation

# Standard values for each parameter/feature, colB
amm_Sn = 0.1
cond_Sn = 300
dis_ox_Sn = 5.5
fec_coli_Sn = 135
nit_nit_Sn = 0.1
orth_phos_Sn = 0.5
pH_Sn = 8.5
temp_Sn = 7
tot_nit_Sn = 1.2
tot_phos_Sn = 0.1

# Inverse of Standard values for each parameter/feature, colC
inv_amm = 1/amm_Sn
inv_cond = 1/cond_Sn
inv_dis_ox = 1/dis_ox_Sn
inv_fec_coli_Sn = 1/fec_coli_Sn
inv_nit_nit = 1/nit_nit_Sn
inv_orth_phos = 1/orth_phos_Sn
inv_pH = 1/pH_Sn
inv_temp = 1/temp_Sn
inv_tot_nit = 1/tot_nit_Sn
inv_tot_phos = 1/tot_phos_Sn

# Sum of all inverses of standard values, colD
sum_all_inv = inv_amm + inv_cond + inv_dis_ox + inv_fec_coli_Sn + inv_nit_nit + inv_orth_phos + inv_pH + inv_temp + inv_tot_nit + inv_tot_phos

# K is the inverse of the sum of all inverses, colE
K = 1/sum_all_inv

# Wn is K divided by the standard value for each parameter/feature, colF
amm_Wn = K / amm_Sn
cond_Wn = K / cond_Sn
dis_ox_Wn = K / dis_ox_Sn
fec_coli_Wn = K / fec_coli_Sn
nit_nit_Wn = K / nit_nit_Sn
orth_phos_Wn = K / orth_phos_Sn
pH_Wn = K / pH_Sn
temp_Wn = K / temp_Sn
tot_nit_Wn = K / tot_nit_Sn
tot_phos_Wn = K / tot_phos_Sn

# Water Quality Index
#test = ((((df_3.loc[0]['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3.loc[0]['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3.loc[0]['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3.loc[0]['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3.loc[0]['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3.loc[0]['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3.loc[0]['pH']/pH_Sn)*100)*pH_Wn) + (((df_3.loc[0]['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3.loc[0]['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3.loc[0]['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
#test

df_3['WQI'] = ((((df_3['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3['pH']/pH_Sn)*100)*pH_Wn) + (((df_3['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
df_3.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1994-02-14,0.02,98.2,11.10,49.0,0.22,0.0130,7.1,6.9,0.41,0.019,80.653159
1,1994-02-14,0.02,99.0,10.98,49.0,0.18,0.0130,7.2,6.9,0.38,0.021,69.166763
2,1994-03-07,0.02,100.3,11.08,36.0,0.22,0.0100,7.5,7.6,0.35,0.022,81.448692
3,1994-03-07,0.02,101.1,11.09,36.0,0.22,0.0100,7.5,7.6,0.37,0.026,82.693129
4,1994-03-21,0.02,100.7,11.59,35.0,0.16,0.0076,7.6,7.5,0.35,0.021,63.142572

In [17]:
df_3 = df_3.dropna()
print(df_3.shape)
df_3.count()

(537, 12)

CollectDate                        537
Ammmonia Nitrogen (mg/L)           537
Conductivity (µmhos/cm)            537
Dissolved Oxygen (mg/L)            537
Fecal Coliform (CFU/100ml)         537
Nitrate Nitrite (mg/L)             537
Orthophosphate Phosphate (mg/L)    537
pH                                 537
Temperature (°C)                   537
Total Nitrogen (mg/L)              537
Total Phosphorus (mg/L)            537
WQI                                537
dtype: int64

In [18]:
# Create the output file (CSV)


output_data_file = "../Resources_Ritu/0536_lake_Union.csv"

#"../Raw_Water_Quality_Data/Lake Sammamish-0611_1_1_1994_to_9_30_2022.csv"
# Export the clean water quality data 

df_3.to_csv(output_data_file, index="CollectDate")

In [19]:
print(df_3['CollectDate'].unique().size)

187