In [1]:
# Initial imports
import pandas as pd
from datetime import datetime

# Import the data

In [2]:
# Load the water_quality_data.csv dataset for monitoring station 0611.

file_path_1 = "../Raw_Water_Quality_Data/Lake_Union-0518_1_1_1994_to_9_30_2022.csv"
WQ_df = pd.read_csv(file_path_1,skiprows=12, encoding='unicode_escape', on_bad_lines='skip')
WQ_df.head(10)

,CollectDate,SampleNum,Depth (m),Ammmonia Nitrogen (mg/L),Ammmonia Nitrogen Qualifier*,AN MDL (mg/L),Conductivity (µmhos/cm),Cond Qualifier*,Cond MDL (µmhos/cm),Dissolved Oxygen (mg/L),...,Total Nitrogen (mg/L),TN Qualifier*,TN MDL (mg/L),Total Phosphorus (mg/L),TP Qualifier*,TP MDL (mg/L),Total Alkalinity (mg/L),Total Alkalinity Qualifier*,Total Alkalinity MDL (mg/L),Unnamed: 35
0,02/14/1994,L2936-7,1.0,0.02,<MDL,0.02,98.8,NaN,NaN,11.57,...,0.350,NaN,0.05,0.017,NaN,0.005,NaN,NaN,NaN,NaN
1,02/14/1994,L2936-8,5.0,NaN,NaN,NaN,99.8,NaN,NaN,11.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02/14/1994,L2936-9,9.0,0.02,<MDL,0.02,101.0,NaN,NaN,11.50,...,0.350,NaN,0.05,0.024,NaN,0.005,NaN,NaN,NaN,NaN
3,03/07/1994,L3134-7,1.0,0.02,<MDL,0.02,100.2,NaN,NaN,10.60,...,0.320,NaN,0.05,0.036,NaN,0.005,NaN,NaN,NaN,NaN
4,03/07/1994,L3134-8,5.0,NaN,NaN,NaN,101.2,NaN,NaN,10.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,03/07/1994,L3134-9,9.0,0.02,<MDL,0.02,102.1,NaN,NaN,10.40,...,1.300,NaN,0.05,0.025,NaN,0.005,NaN,NaN,NaN,NaN
6,03/21/1994,L3279-7,1.0,0.02,<MDL,0.02,102.5,NaN,NaN,11.56,...,0.320,NaN,0.05,0.019,NaN,0.005,NaN,NaN,NaN,NaN
7,03/21/1994,L3279-8,5.0,NaN,NaN,NaN,103.8,NaN,NaN,11.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,03/21/1994,L3279-9,9.0,0.02,<MDL,0.02,104.3,NaN,NaN,11.39,...,0.340,NaN,0.05,0.019,NaN,0.005,NaN,NaN,NaN,NaN
9,04/04/1994,L3376-7,1.0,0.02,<MDL,0.02,100.7,NaN,NaN,12.92,...,0.329,NaN,0.05,0.045,NaN,0.005,NaN,NaN,NaN,NaN

In [3]:
WQ_df .shape

(1099, 36)

In [4]:
WQ_df .count()

CollectDate                        1099
SampleNum                          1099
Depth (m)                          1078
Ammmonia Nitrogen (mg/L)            390
Ammmonia Nitrogen Qualifier*        280
AN MDL (mg/L)                       392
Conductivity (µmhos/cm)             820
Cond Qualifier*                       2
Cond MDL (µmhos/cm)                 289
Dissolved Oxygen (mg/L)             820
DO Qualifier*                         6
DO MDL (mg/L)                       289
Ecoli                               126
Ecoli Qualifier*                      0
Fecal Coliform (CFU/100ml)          262
Fecal Coliform Qualifier*             6
Nitrate Nitrite (mg/L)              392
Nitrate Nitrite Qualifier*          162
Nitrate Nitrite MDL (mg/L)          392
Orthophosphate Phosphate (mg/L)     392
OP Qualifier*                       252
OP MDL (mg/L)                       392
pH                                  820
pH Qualifier*                         9
Temperature (°C)                    838
Temperature Qualifier*                0
Total Nitrogen (mg/L)               392
TN Qualifier*                         0
TN MDL (mg/L)                       392
Total Phosphorus (mg/L)             483
TP Qualifier*                        56
TP MDL (mg/L)                       483
Total Alkalinity (mg/L)             123
Total Alkalinity Qualifier*           0
Total Alkalinity MDL (mg/L)         123
Unnamed: 35                           0
dtype: int64

In [5]:
# Dropping the columns which are not very useful for the analysis. 
# df.drop(['col1','col2','col5','colN'], axis=1, inplace=True) 

WQ_df  = WQ_df.drop(columns=["Depth (m)", "Ammmonia Nitrogen Qualifier*", "Cond Qualifier*", "DO Qualifier*", 
                                "Ecoli Qualifier*", "Fecal Coliform Qualifier*","Nitrate Nitrite Qualifier*", "OP Qualifier*", 
                                "pH Qualifier*","Temperature Qualifier*", "TN Qualifier*", "TN Qualifier*","TP Qualifier*", "Total Alkalinity Qualifier*","Unnamed: 35" ])

# Dropping the columns with heading MDL in it as it is just reporting the minimum detection limit of the method, which is not actually usefull for this analysis.
WQ_df = WQ_df.drop(columns=["AN MDL (mg/L)", "Cond MDL (µmhos/cm)", "DO MDL (mg/L)", "Nitrate Nitrite MDL (mg/L)",
                                  "OP MDL (mg/L)", "TN MDL (mg/L)", "TP MDL (mg/L)", "Total Alkalinity MDL (mg/L)" ])

print(WQ_df.shape)
WQ_df.tail()

(1099, 14)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Ecoli,Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Total Alkalinity (mg/L)
1094,01/13/2009,L47222-3,0.005,NaN,NaN,NaN,15.0,0.156,0.0070,NaN,NaN,0.288,0.0160,NaN
1095,01/13/2009,L47270-4,NaN,96.0,11.4,NaN,NaN,NaN,NaN,7.4,7.5,NaN,NaN,NaN
1096,01/13/2009,L47270-5,NaN,96.4,10.9,NaN,NaN,NaN,NaN,7.4,7.5,NaN,NaN,NaN
1097,01/13/2009,L47222-4,0.005,NaN,NaN,NaN,NaN,0.158,0.0075,NaN,NaN,0.277,0.0157,NaN
1098,01/13/2009,L47270-6,NaN,96.1,10.7,NaN,NaN,NaN,NaN,7.4,7.5,NaN,NaN,NaN

In [6]:
WQ_df.count()

CollectDate                        1099
SampleNum                          1099
Ammmonia Nitrogen (mg/L)            390
Conductivity (µmhos/cm)             820
Dissolved Oxygen (mg/L)             820
Ecoli                               126
Fecal Coliform (CFU/100ml)          262
Nitrate Nitrite (mg/L)              392
Orthophosphate Phosphate (mg/L)     392
pH                                  820
Temperature (°C)                    838
Total Nitrogen (mg/L)               392
Total Phosphorus (mg/L)             483
Total Alkalinity (mg/L)             123
dtype: int64

In [7]:
WQ_df.isnull().sum()

CollectDate                          0
SampleNum                            0
Ammmonia Nitrogen (mg/L)           709
Conductivity (µmhos/cm)            279
Dissolved Oxygen (mg/L)            279
Ecoli                              973
Fecal Coliform (CFU/100ml)         837
Nitrate Nitrite (mg/L)             707
Orthophosphate Phosphate (mg/L)    707
pH                                 279
Temperature (°C)                   261
Total Nitrogen (mg/L)              707
Total Phosphorus (mg/L)            616
Total Alkalinity (mg/L)            976
dtype: int64

In [8]:

WQ_df_1 = WQ_df.drop(columns=["Ecoli", "Total Alkalinity (mg/L)"])
print(WQ_df_1.shape)
WQ_df_1.head()

(1099, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,02/14/1994,L2936-7,0.02,98.8,11.57,100.0,0.18,0.006,7.5,6.4,0.35,0.017
1,02/14/1994,L2936-8,NaN,99.8,11.43,NaN,NaN,NaN,7.5,6.4,NaN,NaN
2,02/14/1994,L2936-9,0.02,101.0,11.50,NaN,0.18,0.006,7.5,6.4,0.35,0.024
3,03/07/1994,L3134-7,0.02,100.2,10.60,21.0,0.20,0.009,7.4,7.6,0.32,0.036
4,03/07/1994,L3134-8,NaN,101.2,10.49,NaN,NaN,NaN,7.4,7.6,NaN,NaN

In [9]:
WQ_df_1.dtypes

CollectDate                         object
SampleNum                           object
Ammmonia Nitrogen (mg/L)           float64
Conductivity (µmhos/cm)            float64
Dissolved Oxygen (mg/L)            float64
Fecal Coliform (CFU/100ml)         float64
Nitrate Nitrite (mg/L)             float64
Orthophosphate Phosphate (mg/L)    float64
pH                                 float64
Temperature (°C)                   float64
Total Nitrogen (mg/L)              float64
Total Phosphorus (mg/L)            float64
dtype: object

In [10]:
# convert string to datetime
WQ_df_1["CollectDate"] = pd.to_datetime(WQ_df_1["CollectDate"])

# convert string to float/numeric
WQ_df_1["pH"] = pd.to_numeric(WQ_df_1["pH"],errors='coerce')

WQ_df_1.dtypes

CollectDate                        datetime64[ns]
SampleNum                                  object
Ammmonia Nitrogen (mg/L)                  float64
Conductivity (µmhos/cm)                   float64
Dissolved Oxygen (mg/L)                   float64
Fecal Coliform (CFU/100ml)                float64
Nitrate Nitrite (mg/L)                    float64
Orthophosphate Phosphate (mg/L)           float64
pH                                        float64
Temperature (°C)                          float64
Total Nitrogen (mg/L)                     float64
Total Phosphorus (mg/L)                   float64
dtype: object

In [11]:
# Dropping the duplicate Sample in the column "SampleNum"
df_1 = WQ_df_1.drop_duplicates(subset=['SampleNum'])
print(df_1.shape)
df_1.head(50)

(1098, 12)

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-02-14,L2936-7,0.020,98.8,11.57,100.0,0.180,0.0060,7.5,6.4,0.350,0.017
1,1994-02-14,L2936-8,NaN,99.8,11.43,NaN,NaN,NaN,7.5,6.4,NaN,NaN
2,1994-02-14,L2936-9,0.020,101.0,11.50,NaN,0.180,0.0060,7.5,6.4,0.350,0.024
3,1994-03-07,L3134-7,0.020,100.2,10.60,21.0,0.200,0.0090,7.4,7.6,0.320,0.036
4,1994-03-07,L3134-8,NaN,101.2,10.49,NaN,NaN,NaN,7.4,7.6,NaN,NaN
5,1994-03-07,L3134-9,0.020,102.1,10.40,NaN,0.230,0.0090,7.4,7.5,1.300,0.025
6,1994-03-21,L3279-7,0.020,102.5,11.56,38.0,0.150,0.0030,7.6,8.1,0.320,0.019
7,1994-03-21,L3279-8,NaN,103.8,11.50,NaN,NaN,NaN,7.6,8.2,NaN,NaN
8,1994-03-21,L3279-9,0.020,104.3,11.39,NaN,0.150,0.0052,7.6,8.1,0.340,0.019
9,1994-04-04,L3376-7,0.020,100.7,12.92,36.0,0.067,0.0042,8.6,10.3,0.329,0.045
10,1994-04-04,L3376-8,NaN,101.9,12.74,NaN,NaN,NaN,8.5,10.2,NaN,NaN
11,1994-04-04,L3376-9,0.020,102.2,12.60,NaN,0.073,0.0048,8.4,10.0,0.316,0.044
12,1994-04-18,L3501-7,0.020,101.9,13.08,13.0,0.064,0.0031,8.7,11.4,0.356,0.016
13,1994-04-18,L3501-8,NaN,102.3,12.96,NaN,NaN,NaN,8.7,11.2,NaN,NaN
14,1994-04-18,L3501-9,0.025,102.3,11.53,NaN,0.093,0.0023,8.0,9.7,0.361,0.016
15,1994-05-02,L3608-7,0.020,108.4,12.07,2.0,0.050,0.0020,9.0,13.7,0.222,0.020
16,1994-05-02,L3608-8,NaN,108.6,11.95,NaN,NaN,NaN,9.0,13.1,NaN,NaN
17,1994-05-02,L3608-9,0.020,109.0,9.47,NaN,0.050,0.0020,7.8,11.9,0.266,0.021
18,1994-05-23,L3769-7,0.020,110.0,10.48,5.0,0.050,0.0020,8.5,17.0,0.541,0.021
19,1994-05-23,L3769-8,NaN,110.7,10.36,NaN,NaN,NaN,8.4,16.0,NaN,NaN
20,1994-05-23,L3769-9,0.020,114.8,7.73,NaN,0.050,0.0020,7.7,12.3,0.499,0.018
21,1994-06-06,L3853-7,0.020,105.6,10.44,23.0,0.050,0.0020,8.3,17.1,0.205,0.018
22,1994-06-06,L3853-8,NaN,106.0,9.99,NaN,NaN,NaN,8.1,16.8,NaN,NaN
23,1994-06-06,L3853-9,0.020,113.7,9.12,NaN,0.050,0.0020,7.7,16.1,0.189,0.035
24,1994-07-05,L4014-7,0.020,111.7,8.50,13.0,0.050,0.0020,7.4,18.8,0.239,0.018
25,1994-07-05,L4014-8,NaN,112.0,8.26,NaN,NaN,NaN,7.4,18.6,NaN,NaN
26,1994-07-05,L4014-9,0.020,114.1,6.28,NaN,0.050,0.0020,7.1,17.4,0.217,0.018
27,1994-08-03,L4192-7,0.020,113.2,8.26,8.0,0.050,0.0060,7.5,22.4,0.205,0.014
28,1994-08-03,L4192-8,NaN,114.1,8.18,NaN,NaN,NaN,7.5,22.3,NaN,NaN
29,1994-08-03,L4192-9,0.060,158.0,5.25,NaN,0.050,0.0121,7.2,20.2,0.294,0.041
30,1994-09-06,L4442-7,0.034,176.0,7.93,45.0,0.050,0.0020,7.6,21.0,0.224,0.020
31,1994-09-06,L4442-8,NaN,181.0,7.53,NaN,NaN,NaN,7.5,20.9,NaN,NaN
32,1994-09-06,L4442-9,0.046,217.0,7.14,NaN,0.050,0.0036,7.5,20.8,0.295,0.030
33,1994-10-03,L4646-7,0.080,203.0,7.61,22.0,0.050,0.0034,7.3,19.3,0.289,0.026
34,1994-10-03,L4646-8,NaN,202.0,7.34,NaN,NaN,NaN,7.3,19.3,NaN,NaN
35,1994-10-03,L4646-9,0.083,217.0,7.16,NaN,0.050,0.0036,7.3,19.3,0.407,0.026
36,1994-11-02,L4824-7,0.022,129.0,9.03,51.0,0.050,0.0035,7.5,13.3,0.272,0.020
37,1994-11-02,L4824-8,NaN,129.8,8.95,NaN,NaN,NaN,7.4,13.3,NaN,NaN
38,1994-11-02,L4824-9,0.020,130.3,8.92,NaN,0.050,0.0034,7.4,13.3,0.256,0.020
39,1994-12-05,L4993-7,0.020,105.1,9.77,58.0,0.136,0.0073,7.2,7.9,0.291,0.023
40,1994-12-05,L4993-8,NaN,105.4,9.70,NaN,NaN,NaN,7.2,7.9,NaN,NaN
41,1994-12-05,L4993-9,0.024,105.2,9.70,NaN,0.146,0.0108,7.2,7.9,0.315,0.029
42,1995-01-19,L5242-7,0.026,89.6,10.56,44.0,0.206,0.0151,7.5,6.9,0.493,0.026
43,1995-01-19,L5242-8,NaN,90.8,10.48,NaN,NaN,NaN,7.5,6.9,NaN,NaN
44,1995-01-19,L5242-9,0.024,91.3,10.46,NaN,0.206,0.0137,7.5,6.9,0.436,0.022
45,1995-02-06,L5380-5,0.020,106.7,11.07,81.0,0.223,0.0159,7.4,7.7,0.457,0.031
46,1995-02-06,L5380-6,NaN,107.8,10.98,NaN,NaN,NaN,7.4,7.7,NaN,NaN
47,1995-02-06,L5380-7,0.028,107.8,10.74,NaN,0.221,0.0162,7.4,7.6,0.417,0.032
48,1995-03-06,L5575-5,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN
50,1995-03-06,L5575-6,NaN,100.1,11.60,NaN,NaN,NaN,7.6,7.2,NaN,NaN

In [12]:
# Finding out the null values in the remaining columns
print(df_1.shape)
df_1.isnull().sum()

(1098, 12)

CollectDate                          0
SampleNum                            0
Ammmonia Nitrogen (mg/L)           709
Conductivity (µmhos/cm)            279
Dissolved Oxygen (mg/L)            279
Fecal Coliform (CFU/100ml)         836
Nitrate Nitrite (mg/L)             707
Orthophosphate Phosphate (mg/L)    707
pH                                 279
Temperature (°C)                   261
Total Nitrogen (mg/L)              707
Total Phosphorus (mg/L)            616
dtype: int64

In [13]:
# Since we have lots of null values we are replacing the null values in each month with the mean of the remaining values in that month.
# Replacing the NaN values:

df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
df_3.head(5)

C:\Users\gothw\AppData\Local\Temp\ipykernel_26136\1647429865.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))
C:\Users\gothw\AppData\Local\Temp\ipykernel_26136\1647429865.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_3 = df_1.groupby(["CollectDate"]).apply(lambda x:x.fillna(x.mean()))

,CollectDate,SampleNum,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L)
0,1994-02-14,L2936-7,0.02,98.8,11.57,100.0,0.180,0.006,7.5,6.4,0.35,0.0170
1,1994-02-14,L2936-8,0.02,99.8,11.43,100.0,0.180,0.006,7.5,6.4,0.35,0.0205
2,1994-02-14,L2936-9,0.02,101.0,11.50,100.0,0.180,0.006,7.5,6.4,0.35,0.0240
3,1994-03-07,L3134-7,0.02,100.2,10.60,21.0,0.200,0.009,7.4,7.6,0.32,0.0360
4,1994-03-07,L3134-8,0.02,101.2,10.49,21.0,0.215,0.009,7.4,7.6,0.81,0.0305

In [14]:
# Removing the SampleNum Column

df_3= df_3.drop(columns=["SampleNum"])

In [15]:
df_3.isnull().sum()

CollectDate                          0
Ammmonia Nitrogen (mg/L)           386
Conductivity (µmhos/cm)             76
Dissolved Oxygen (mg/L)             76
Fecal Coliform (CFU/100ml)         328
Nitrate Nitrite (mg/L)             383
Orthophosphate Phosphate (mg/L)    383
pH                                  77
Temperature (°C)                    61
Total Nitrogen (mg/L)              383
Total Phosphorus (mg/L)             61
dtype: int64

In [16]:
# Real Water Quality Index Calculation

# Standard values for each parameter/feature, colB
amm_Sn = 0.1
cond_Sn = 300
dis_ox_Sn = 5.5
fec_coli_Sn = 135
nit_nit_Sn = 0.1
orth_phos_Sn = 0.5
pH_Sn = 8.5
temp_Sn = 7
tot_nit_Sn = 1.2
tot_phos_Sn = 0.1

# Inverse of Standard values for each parameter/feature, colC
inv_amm = 1/amm_Sn
inv_cond = 1/cond_Sn
inv_dis_ox = 1/dis_ox_Sn
inv_fec_coli_Sn = 1/fec_coli_Sn
inv_nit_nit = 1/nit_nit_Sn
inv_orth_phos = 1/orth_phos_Sn
inv_pH = 1/pH_Sn
inv_temp = 1/temp_Sn
inv_tot_nit = 1/tot_nit_Sn
inv_tot_phos = 1/tot_phos_Sn

# Sum of all inverses of standard values, colD
sum_all_inv = inv_amm + inv_cond + inv_dis_ox + inv_fec_coli_Sn + inv_nit_nit + inv_orth_phos + inv_pH + inv_temp + inv_tot_nit + inv_tot_phos

# K is the inverse of the sum of all inverses, colE
K = 1/sum_all_inv

# Wn is K divided by the standard value for each parameter/feature, colF
amm_Wn = K / amm_Sn
cond_Wn = K / cond_Sn
dis_ox_Wn = K / dis_ox_Sn
fec_coli_Wn = K / fec_coli_Sn
nit_nit_Wn = K / nit_nit_Sn
orth_phos_Wn = K / orth_phos_Sn
pH_Wn = K / pH_Sn
temp_Wn = K / temp_Sn
tot_nit_Wn = K / tot_nit_Sn
tot_phos_Wn = K / tot_phos_Sn

# Water Quality Index
#test = ((((df_3.loc[0]['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3.loc[0]['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3.loc[0]['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3.loc[0]['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3.loc[0]['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3.loc[0]['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3.loc[0]['pH']/pH_Sn)*100)*pH_Wn) + (((df_3.loc[0]['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3.loc[0]['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3.loc[0]['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
#test

df_3['WQI'] = ((((df_3['Ammmonia Nitrogen (mg/L)']/amm_Sn)*100)*amm_Wn) + (((df_3['Conductivity (µmhos/cm)']/cond_Sn)*100)*cond_Wn)) + (((df_3['Dissolved Oxygen (mg/L)']/dis_ox_Sn)*100)*dis_ox_Wn) + (((df_3['Fecal Coliform (CFU/100ml)']/fec_coli_Sn)*100)*fec_coli_Wn) + (((df_3['Nitrate Nitrite (mg/L)']/nit_nit_Sn)*100)*nit_nit_Wn) + (((df_3['Orthophosphate Phosphate (mg/L)']/orth_phos_Sn)*100)*orth_phos_Wn) + (((df_3['pH']/pH_Sn)*100)*pH_Wn) + (((df_3['Temperature (°C)']/temp_Sn)*100)*temp_Wn) + (((df_3['Total Nitrogen (mg/L)']/tot_nit_Sn)*100)*tot_nit_Wn) + (((df_3['Total Phosphorus (mg/L)']/tot_phos_Sn)*100)*tot_phos_Wn)
df_3.head()

,CollectDate,Ammmonia Nitrogen (mg/L),Conductivity (µmhos/cm),Dissolved Oxygen (mg/L),Fecal Coliform (CFU/100ml),Nitrate Nitrite (mg/L),Orthophosphate Phosphate (mg/L),pH,Temperature (°C),Total Nitrogen (mg/L),Total Phosphorus (mg/L),WQI
0,1994-02-14,0.02,98.8,11.57,100.0,0.180,0.006,7.5,6.4,0.35,0.0170,67.867179
1,1994-02-14,0.02,99.8,11.43,100.0,0.180,0.006,7.5,6.4,0.35,0.0205,68.904789
2,1994-02-14,0.02,101.0,11.50,100.0,0.180,0.006,7.5,6.4,0.35,0.0240,69.963261
3,1994-03-07,0.02,100.2,10.60,21.0,0.200,0.009,7.4,7.6,0.32,0.0360,79.517244
4,1994-03-07,0.02,101.2,10.49,21.0,0.215,0.009,7.4,7.6,0.81,0.0305,83.382645

In [17]:
df_3 = df_3.dropna()
print(df_3.shape)
df_3.count()

(710, 12)

CollectDate                        710
Ammmonia Nitrogen (mg/L)           710
Conductivity (µmhos/cm)            710
Dissolved Oxygen (mg/L)            710
Fecal Coliform (CFU/100ml)         710
Nitrate Nitrite (mg/L)             710
Orthophosphate Phosphate (mg/L)    710
pH                                 710
Temperature (°C)                   710
Total Nitrogen (mg/L)              710
Total Phosphorus (mg/L)            710
WQI                                710
dtype: int64

In [18]:
# Create the output file (CSV)


output_data_file = "../Resources_Ritu/0518_lake_Union.csv"

#"../Raw_Water_Quality_Data/Lake Sammamish-0611_1_1_1994_to_9_30_2022.csv"
# Export the clean water quality data 

df_3.to_csv(output_data_file, index="CollectDate")

In [19]:
print(df_3['CollectDate'].unique().size)

191